<div class="home-page text-center">
    <div class="container">
        <h1>Sign In</h1>
        <%= form_tag sessions_path  do %>
        <div>
            <div class="form-group">
                <%= label_tag :email %>
                <%= email_field_tag :email%>
            </div>
            <div class=" form-group">
                <%= label_tag :password %>
                <%= password_field_tag :password, class:'form-control' %>
            </div>
            <%= submit_tag "Log In" %>
        <% end %>
    </end>
</end>
