<p id="notice"><%= notice %></p>

<h1>Today's Mentors</h1>
<h2>Undecided will be refreshed tomorrow!</h2>

<table>
  <tbody>
    <% @mentors.each do |mentor| %>
      <tr>
        <td><%= image_tag mentor.image %></td>
        <td><%= mentor.name %> , <%= mentor.age %></td>
        <td><%= mentor.location %></td>
        <td><%= mentor.description %></td>        
        <td><%= link_to 'Show', mentor %></td>
        <td><%= link_to 'Edit', edit_mentor_path(mentor) %></td>
        <td><%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

