<p id="notice"><%= notice %></p>

<div class="mentor-list-page">   
 
 
  <h1>Today's 20 Mentors</h1>
  <h2>Undecided will be refreshed tomorrow!</h2>
  <br>

<div align="center table-responsive">
  <table class="table table-borderless table-condensed">

    <tbody>
    <% @mentors.each do |mentor| %>
        <tr>
          <td rowspan="2">
            <!--image-->
           <%=image_tag mentor.image, class: "img-circle img-responsive"  %>
          </td>
        </tr>
        <tr>
          <td>
            <table class="">
               <tr>
                <td colspan="4"><%= link_to mentor.name, mentor_path(mentor), class: "mentor-personal-info" %> <%= mentor.age %> </td>              
                </tr>
              <tr>
                <!--Location-->
                <td colspan="4" class="info p-info"> <%= mentor.location %></td>              
              </tr>
              <tr>
                <!--Description-->            
                <td colspan="4"><p class="info mentor-list-desc"> <%= mentor.description %> <p></td>
              </tr>
            </table>
          </td>
        </tr>
        <%end%>
    </tbody>
  </table>
</div>
</div>