<div class="container">
<%= simple_form_for(@mente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :image %>
    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.input :age, collection: 15..35, prompt: "Select your age", selected: 15%>
    <%= f.input :mentor_type, priority: "Education", collection: [ "Life Coach", "Career Couch", "Entrepreneurship","Parenthood and Marriage", "Education" ]   %>
    <%= f.input :description %>
    <%= f.input :question %>
    <%= f.input :interests%>
    <%= f.input :location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
