<p id="notice"><%= notice %></p>

<h1>Mentes</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Email</th>
      <th>Name</th>
      <th>Age</th>
      <th>Mentor type</th>
      <th>Description</th>
      <th>What do you hope to get out of the program?</th>
      <th>What are your interests?</th>
      <th>Location</th>
      <th>Langitude</th>
      <th>Latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentes.each do |mente| %>
      <tr>
        <td><%= mente.image %></td>
        <td><%= mente.email %></td>
        <td><%= mente.name %></td>
        <td><%= mente.age %></td>
        <td><%= mente.mentor_type %></td>
        <td><%= mente.description %></td>
        <td><%= mente.question %></td>
        <td><%= mente.interests %></td>
        <td><%= mente.location %></td>
        <td><%= mente.langitude %></td>
        <td><%= mente.latitude %></td>
        <td><%= link_to 'Show', mente %></td>
        <td><%= link_to 'Edit', edit_mente_path(mente) %></td>
        <td><%= link_to 'Destroy', mente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mente', new_mente_path %>
