<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @mente.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mente.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @mente.age %>
</p>

<p>
  <strong>Mentor type:</strong>
  <%= @mente.mentor_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mente.description %>
</p>

<p>
  <strong>Question:</strong>
  <%= @mente.question %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @mente.interests %>
</p>

<p>
  <strong>Location:</strong>
  <%= @mente.location %>
</p>

<p>
  <strong>Langitude:</strong>
  <%= @mente.langitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @mente.latitude %>
</p>

<%= link_to 'Edit', edit_mente_path(@mente) %> |
<%= link_to 'Back', mentes_path %>
